*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
html,body{
    height: 100%;
}
body > section{
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    float: left;
}
aside {
    display: inline-block;
    width: 50%;
    float: left;
}
aside img{
    width: 80%;
    height: auto;
    border-radius: 5%;

}
main{
    display: inline-block;
    width: 49%;
    float: left;
}

h1{
    font-size: 2rem;
}
h1,h2,h3{
    color: #5B12BD;  
 }
 h4,p,h6{
   color: #AFAFAF
 }
  /*mobile only*/
  @media only screen and (max-width: 768px) {
    aside{
      width: 100%;
    }
    main {
      width: 100%;
    }
    aside img {
      height: auto;
    }
  }